
@{
    ViewBag.Title = "NewEncounter";
}

<h2>New Patient Encounter</h2>

@using (Html.BeginForm())
{
    @Html.Label("First Name")<br />
    @Html.TextBox("First Name")<br />

    @Html.Label("Last Name")<br />
    @Html.TextBox("Last Name")<br />

    @Html.Label("Phone Number")<br />
    @Html.TextBox("Phone Number")<br />

    @Html.Label("Address")<br />
    @Html.TextBox("Address")<br />

    @Html.Label("City")<br />
    @Html.TextBox("City")<br />

    @Html.Label("State")<br />
    @Html.TextBox("State")<br />

    @Html.Label("Zip Code")<br />
    @Html.TextBox("Zip Code")<br />








    <button type="submit">Submit</button>
}
